@import url(../blocks/page/page.css);

/* Начало блока header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/__square-pic/header__square-pic.css);
@import url(../blocks/header/__main-illustration/header__main-illustration.css);
@import url(../blocks/header/__link/header__link.css);
/* Конец блока header */
/* Начало блока description */
@import url(../blocks/content/description/description.css);
@import url(../blocks/content/description/two-columns/two-columns.css);
@import url(../blocks/content/description/two-columns/__brief/two-columns__brief.css);
@import url(../blocks/content/description/two-columns/__main-text/two-columns__main-text.css);
@import url(../blocks/content/description/two-columns/__paragraph/two-columns__paragraph.css);
@import url(../blocks/content/description/two-columns/__span-accent/two-columns__span-accent.css);
/* Конец блока description */
/* Начало блока digits */
@import url(../blocks/content/digits/digits.css);
@import url(../blocks/content/digits/section-title/section-title.css);
@import url(../blocks/content/digits/section-subtitle/section-subtitle.css);
@import url(../blocks/content/digits/table/table.css);
@import url(../blocks/content/digits/table/__cell/table__cell.css);
@import url(../blocks/content/digits/table/__heading/table__heading.css);
@import url(../blocks/content/digits/table/__text/table__text.css);
/* Конец блока digits */
/* Начало блока feynman */
@import url(../blocks/content/feynman/feynman.css);
@import url(../blocks/content/feynman/__title/feynman__title.css);
@import url(../blocks/content/feynman/__subtitle/feynman__subtitle.css);
@import url(../blocks/content/feynman/__link/feynman__link.css);
@import url(../blocks/content/feynman/__image/feynman__image.css);
/* Конец блока feynman */
/* Начало блока kaufman */
@import url(../blocks/content/kaufman/kaufman.css);
@import url(../blocks/content/digits/section-title/_theme/section-title_theme_dark.css);
@import url(../blocks/content/digits/section-subtitle/_theme/section-subtitle_theme_dark.css);
@import url(../blocks/content/digits/table/__cell/_theme/table__cell_theme_dark.css);
@import url(../blocks/content/kaufman/__triangle/kaufman__triangle.css);
/* Конец блока kaufman */
/* Начало блока footer */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__columns/footer__columns.css);
@import url(../blocks/footer/__column/_content/footer__column_content_copyright.css);
@import url(../blocks/footer/__column/_content/footer__column_content_social.css);
@import url(../blocks/footer/__author/footer__author.css);
@import url(../blocks/footer/__column-heading/footer__column-heading.css);
@import url(../blocks/footer/__column-links/footer__column-links.css);
@import url(../blocks/footer/__column-link/footer__column-link.css);
@import url(../blocks/footer/__social-icon/footer__social-icon.css);
/* Конец блока footer */
/* Описание логотипов logo*/
@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_place/logo_place_header.css);
@import url(../blocks/logo/_place/logo_place_footer.css);
/* Конец описания логотипов logo*/

@import url(../blocks/rotation/rotation.css);

.techniques {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0px auto 100px;
  width: 80%;
}

.cards {
  width: 920px;
  display: flex;
  margin: auto;
  padding: 0;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style-type: none;
}

.cards__item {
  width: 240px;
  margin-right: 100px;
}

.cards__item:nth-child(3n) {
  margin-right: 0px;
}

.cards__image {
  width: 160px;
  height: 160px;
  margin: 60px 40px 43px;
  border-radius: 90px;
}

.cards__title {
  margin: 0 0 16px;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.cards__description {
  margin: 0;
  padding: 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}





.redblock {
  border: 1px solid red;
}