.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', sans-serif; 
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 64px;
  position: relative;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение 
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}*/

/* Начало блока header */

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  margin: 0;
  padding: 0;
  font-size: 100%;
  width: 730px;
  display: flex;
  line-height: 96px;
  font-size: 102px;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-image: url(../images/header-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  top: 64px;
  right: 0px;
  position: absolute;
  z-index: 0;
}

/* Конец блока header */
/* Начало блока description */

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  margin: 100px 0;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  display: block;
  width: 175px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  margin-bottom: 30px;
}

.two-columns__paragraph_last {
  margin-bottom: 0px;
}

.two-columns__span-accent {
  font-weight: 700;
}

/* Конец блока description */
/* Начало блока digits */

.digits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 100px;
}

.section-title {
  margin: 0 auto 20px;
  padding: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  display: block;
  width: 60%;
}

.section-subtitle {
  margin: 0 auto;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  display: block;
  width: 60%;
}

.table {
  width: 1100px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;
  text-align: left;
  margin-top: 60px;
}

.table__heading {
  margin: 0 0 20px;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.table__text {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text_bank {
  margin-top: 20px;
}

/* Конец блока digits */
/* Начало блока feynman */

.feynman {
  background-color: #f2f2f2;
  height: 890px;
  position: relative;
  justify-content: center;
  text-align: center;
  z-index: -2;
}

.feynman__title {
  margin: 0 auto 70px;
  padding: 100px 0 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  width: 648px;
}

.feynman__text {
  margin: 0;
  padding: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;  
}

.feynman__link {
  top: 50%;
  right: 48px;
  position: absolute;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__image {
  width: 867px;
  height: 637px;
  bottom: 0px;
  left: 0px;
  position: absolute;
  z-index: -1;
}

/* Конец блока feynman */
/* Начало блока kaufman */

.kaufman {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-bottom: 90px;
  position: relative;
  overflow: hidden;
  z-index: -2;
}

.section-title_theme_dark {
  color: white;
  margin-top: 90px;
}

.section-subtitle_theme_dark {
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  right: -210px;
  top: 0px;
  z-index: -1;
}

/* Конец блока kaufman */
/* Начало блока footer */

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
  color: white;
}

.footer__columns {
  width: 90%;
  display: flex;
  margin: 60px auto 40px;
  justify-content: space-between;
}

.logo_place-footer {
  height: 35px;
}

.footer__column_content-copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__author {
  margin: 18px 0;
  padding: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-links-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__column_content-social {
  align-items: stretch;
}

.footer__column-heading {
  margin: 0 0 20px;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}

.footer__column-links-list {
  margin-bottom: 16px;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer_social-icon-mini-logo {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

/* Конец блока footer */



.bord {
  border: 1px solid red;
}